Name: Oladipo Adesina
Hamoye student ID: 13ee1d91ee81f000

In [1]:
import numpy as np
import pandas as pd

In [9]:
raw_data = pd.read_csv('energydata_complete.csv')
raw_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
raw_data.reset_index(drop=True)
data = raw_data.set_index('date')
data.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
date,,,,,,,,,,,,,,,,,,,,,
2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Question 12

In [4]:
from sklearn.linear_model import LinearRegression

In [8]:
x = data['T2'].values.reshape(-1,1)
y = data['T6'].values.reshape(-1,1)

reg = LinearRegression()
reg.fit(x,y)
np.round(reg.score(x,y), 2)

0.64

In [11]:
data_quiz = raw_data.drop(['date', 'lights'], axis = 1)
data_quiz.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [56]:
from sklearn.preprocessing import MinMaxScaler

x1 = data_quiz.iloc[:, 1:]
y1 = data_quiz['Appliances']
scaler = MinMaxScaler()

x_scaled = scaler.fit_transform(x1)
x_scaled

array([[0.32734952, 0.56618659, 0.22534529, ..., 0.53846154, 0.26544891,
        0.26544891],
       [0.32734952, 0.54132648, 0.22534529, ..., 0.53393665, 0.37208289,
        0.37208289],
       [0.32734952, 0.53050179, 0.22534529, ..., 0.52941176, 0.57284766,
        0.57284766],
       ...,
       [0.91974657, 0.53866618, 0.69265118, ..., 0.89894419, 0.58397859,
        0.58397859],
       [0.91974657, 0.54949087, 0.67705355, ..., 0.8974359 , 0.12637146,
        0.12637146],
       [0.91974657, 0.53875791, 0.66617051, ..., 0.8959276 , 0.68239057,
        0.68239057]])

In [57]:
from sklearn.model_selection import train_test_split as tts

x_train, x_test, y_train, y_test = tts(x_scaled, y1, test_size = 0.3, random_state = 42)

reg1 = LinearRegression()
reg1.fit(x_train, y_train)
reg1.score(x_train, y_train)

0.14471942308518748

In [58]:
y_pred = reg1.predict(x_test)

### Question 13

In [59]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
np.round(mae, 2)

53.64

### Question 14

In [60]:
rss = np.sum(np.square(y_test-y_pred))
np.round(rss,2)

51918501.21

### Question 15

In [61]:
from sklearn.metrics import mean_squared_error

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
np.round(rmse,3)

93.64

### Question 16

In [62]:
from sklearn.metrics import r2_score
coef_deter = r2_score(y_test, y_pred)
np.round(coef_deter, 2)

0.15

### Question 17

In [63]:
df = pd.DataFrame({'Features': x1.columns.values, 'Weights': reg1.coef_})
df.sort_values('Weights', ascending=True)

       Features     Weights
3          RH_2 -488.666805
18        T_out -344.389845
2            T2 -252.710373
16           T9 -203.236627
15         RH_8 -168.627161
20       RH_out  -83.107599
13         RH_7  -47.736592
17         RH_9  -42.586339
8            T5  -16.752822
0            T1   -3.510725
24          rv1    0.824005
25          rv2    0.824005
19  Press_mm_hg    7.318079
12           T7   11.041091
22   Visibility   13.168072
9          RH_5   17.126194
7          RH_4   28.232781
6            T4   31.009668
21    Windspeed   31.225948
11         RH_6   40.712058
5          RH_3  102.771652
14           T8  109.134698
23    Tdewpoint  126.000776
10           T6  252.974652
4            T3  310.971037
1          RH_1  592.294862

### Question 18

In [64]:
from sklearn.linear_model import Ridge

reg_ridge = Ridge(alpha=0.4)
reg_ridge.fit(x_train, y_train)

y_pred_ridge = reg_ridge.predict(x_test)

In [65]:
rmse_ridge = np.sqrt(mean_squared_error(y_test, y_pred_ridge))
print(rmse_ridge)
print(rmse)

93.66122703951963
93.64046093998029

### Question 19

In [66]:
from sklearn.linear_model import Lasso

reg_lasso = Lasso(alpha=0.001)
reg_lasso.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [67]:
df_lasso = pd.DataFrame({'Features': x1.columns.values, 'Weights': reg_lasso.coef_})
df_lasso[df_lasso['Weights'] != 0]

       Features     Weights
0            T1   -4.147124
1          RH_1  590.599827
2            T2 -249.468798
3          RH_2 -484.565333
4            T3  310.210384
5          RH_3  102.204611
6            T4   30.345197
7          RH_4   27.445905
8            T5  -17.118723
9          RH_5   17.103321
10           T6  250.080979
11         RH_6   40.092883
12           T7   10.346809
13         RH_7  -47.389094
14           T8  108.883423
15         RH_8 -168.695476
16           T9 -202.502545
17         RH_9  -42.455100
18        T_out -332.571693
19  Press_mm_hg    7.282154
20       RH_out  -78.000385
21    Windspeed   31.389514
22   Visibility   13.078319
23    Tdewpoint  118.598030
24          rv1    1.631174

### Question 20

In [68]:
y_pred_lasso = reg_lasso.predict(x_test)

rmse_lasso = np.sqrt(mean_squared_error(y_test, y_pred_lasso))
np.round(rmse_lasso, 3)

93.641