Name: Oladipo Adesina
Hamoye student ID: 13ee1d91ee81f000

In [1]:
import numpy as np
import pandas as pd

In [9]:
raw_data = pd.read_csv('energydata_complete.csv')
raw_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
raw_data.reset_index(drop=True)
data = raw_data.set_index('date')
data.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
date,,,,,,,,,,,,,,,,,,,,,
2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Question 12

In [4]:
from sklearn.linear_model import LinearRegression

In [8]:
x = data['T2'].values.reshape(-1,1)
y = data['T6'].values.reshape(-1,1)

reg = LinearRegression()
reg.fit(x,y)
np.round(reg.score(x,y), 2)

0.64

In [11]:
data_quiz = raw_data.drop(['date', 'lights'], axis = 1)
data_quiz.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [22]:
from sklearn.preprocessing import MinMaxScaler

x1 = data.iloc[:, 1:]
y1 = data['Appliances']
scaler = MinMaxScaler()

x_scaled = scaler.fit_transform(x1)
x_scaled

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

array([[0.42857143, 0.32734952, 0.56618659, ..., 0.53846154, 0.26544891,
        0.26544891],
       [0.42857143, 0.32734952, 0.54132648, ..., 0.53393665, 0.37208289,
        0.37208289],
       [0.42857143, 0.32734952, 0.53050179, ..., 0.52941176, 0.57284766,
        0.57284766],
       ...,
       [0.14285714, 0.91974657, 0.53866618, ..., 0.89894419, 0.58397859,
        0.58397859],
       [0.14285714, 0.91974657, 0.54949087, ..., 0.8974359 , 0.12637146,
        0.12637146],
       [0.14285714, 0.91974657, 0.53875791, ..., 0.8959276 , 0.68239057,
        0.68239057]])

In [29]:
from sklearn.model_selection import train_test_split as tts

x_train, x_test, y_train, y_test = tts(x_scaled, y1, test_size = 0.3, random_state = 42)

reg1 = LinearRegression()
reg1.fit(x_train, y_train)
reg1.score(x_train, y_train)

0.16322079632540742

In [30]:
y_pred = reg1.predict(x_test)

### Question 13

In [33]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
np.round(mae, 2)

52.93

### Question 14

In [34]:
rss = np.sum(np.square(y_test-y_pred))
np.round(rss,2)

50800067.05

### Question 15

In [35]:
from sklearn.metrics import mean_squared_error

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
np.round(rmse,3)

92.626

### Question 16

In [36]:
from sklearn.metrics import r2_score
coef_deter = r2_score(y_test, y_pred)
np.round(coef_deter, 2)

0.17

### Question 17

In [39]:
df = pd.DataFrame({'Features': x1.columns.values, 'Weights': reg1.coef_})
df.sort_values('Weights', ascending=True)

       Features     Weights
4          RH_2 -454.789591
19        T_out -327.358458
3            T2 -217.765614
17           T9 -138.615226
16         RH_8 -132.386440
21       RH_out  -93.644768
7            T4  -42.552801
14         RH_7  -39.353359
18         RH_9  -28.858164
8          RH_4  -21.251682
9            T5  -16.801097
1            T1  -10.993198
25          rv1    0.979362
26          rv2    0.979362
20  Press_mm_hg    8.323318
10         RH_5   10.881337
23   Visibility   11.260627
13           T7   16.261985
22    Windspeed   25.334996
12         RH_6   35.155827
15           T8   86.285886
6          RH_3  100.189900
24    Tdewpoint  122.189188
0        lights  139.626999
11           T6  234.521278
5            T3  309.997009
2          RH_1  559.044840

### Question 18

In [40]:
from sklearn.linear_model import Ridge

reg_ridge = Ridge(alpha=0.4)
reg_ridge.fit(x_train, y_train)

y_pred_ridge = reg_ridge.predict(x_test)

In [50]:
rmse_ridge = np.sqrt(mean_squared_error(y_test, y_pred_ridge))
print(rmse_ridge)
print(rmse)

92.64553355986457
92.62636310967713

### Question 19

In [42]:
from sklearn.linear_model import Lasso

reg_lasso = Lasso(alpha=0.001)
reg_lasso.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [49]:
df_lasso = pd.DataFrame({'Features': x1.columns.values, 'Weights': reg_lasso.coef_})
df_lasso[df_lasso['Weights'] != 0]

       Features     Weights
0        lights  139.643451
1            T1  -11.841953
2          RH_1  557.095361
3            T2 -215.064936
4          RH_2 -451.207816
5            T3  309.338892
6          RH_3   99.378425
7            T4  -42.449052
8          RH_4  -20.835028
9            T5  -17.342758
10         RH_5   10.839155
11           T6  231.597535
12         RH_6   34.492607
13           T7   15.586632
14         RH_7  -39.218352
15           T8   86.068415
16         RH_8 -132.563705
17           T9 -137.957538
18         RH_9  -28.791101
19        T_out -315.389672
20  Press_mm_hg    8.221376
21       RH_out  -88.414868
22    Windspeed   25.480232
23   Visibility   11.189332
24    Tdewpoint  114.538702
25          rv1    1.939938

### Question 20

In [54]:
y_pred_lasso = reg_lasso.predict(x_test)

rmse_lasso = np.sqrt(mean_squared_error(y_test, y_pred_lasso))
np.round(rmse_lasso, 3)

92.626